import node-red.txt
[{"id":"3c35f238.f4544e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9d58520c.f5e84","type":"http in","z":"3c35f238.f4544e","name":"","url":"lora","method":"post","upload":true,"swaggerDoc":"","x":140,"y":300,"wires":[["7a806958.6bbac8","1cb2d1c6.e0cd7e","e27899e.4b9cf68"]]},{"id":"c99062e1.b2784","type":"comment","z":"3c35f238.f4544e","name":"Insert log","info":"","x":80,"y":260,"wires":[]},{"id":"5c03ce12.2ddde","type":"debug","z":"3c35f238.f4544e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":340,"wires":[]},{"id":"1cb2d1c6.e0cd7e","type":"http response","z":"3c35f238.f4544e","name":"","statusCode":"","headers":{},"x":1030,"y":300,"wires":[]},{"id":"a4b323f3.f5d47","type":"inject","z":"3c35f238.f4544e","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":140,"y":100,"wires":[["6d58a8ff.d0ab58"]]},{"id":"53372ac4.b1d134","type":"comment","z":"3c35f238.f4544e","name":"Initialize global variables","info":"","x":130,"y":40,"wires":[]},{"id":"5a94f2ca.403a1c","type":"mongodb in","z":"3c35f238.f4544e","mongodb":"d145b4d7.163be8","name":"","collection":"lora","operation":"find","x":490,"y":100,"wires":[["8473a5d5.d92be8"]]},{"id":"6d58a8ff.d0ab58","type":"function","z":"3c35f238.f4544e","name":"Get MongoDB Using Projection","func":"msg.projection = {\n    \"_id\" : 0,\n    \"bw\" : 1, \n    \"sf\" : 1\n};\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["5a94f2ca.403a1c"]]},{"id":"8473a5d5.d92be8","type":"change","z":"3c35f238.f4544e","name":"","rules":[{"t":"set","p":"parameters","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":100,"wires":[["f4b1205e.5a8cf"]]},{"id":"f4b1205e.5a8cf","type":"debug","z":"3c35f238.f4544e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":930,"y":100,"wires":[]},{"id":"7a806958.6bbac8","type":"function","z":"3c35f238.f4544e","name":"Check New Devices","func":"var params = global.get(\"parameters\") || [];\nvar param = {\n    \"bw\" : msg.payload.bw,\n    \"sf\" : msg.payload.sf\n}\nvar newparam = true;\n\nfor (var p of params){\n    if (p.bw === param.bw && p.sf === param.sf){\n        newparam = false;\n    } \n}\nif (newparam){\n    params.push(param);\n    global.set(\"parameters\",params);\n}\nmsg.params=params;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":340,"wires":[["5c03ce12.2ddde"]]},{"id":"74e984d5.f4ba5c","type":"inject","z":"3c35f238.f4544e","name":"","topic":"","payload":"parameters","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1280,"wires":[["254913e9.12847c"]]},{"id":"254913e9.12847c","type":"debug","z":"3c35f238.f4544e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":1280,"wires":[]},{"id":"29758b8.34f7174","type":"mongodb in","z":"3c35f238.f4544e","mongodb":"d145b4d7.163be8","name":"","collection":"lora","operation":"find","x":610,"y":420,"wires":[["77ebf60f.49c3d8"]]},{"id":"e27899e.4b9cf68","type":"function","z":"3c35f238.f4544e","name":"Set query","func":"var payload_backup = new Object();\npayload_backup.bw = msg.payload.bw;\npayload_backup.sf = msg.payload.sf;\npayload_backup.attr = msg.payload.attrs;\n\ndelete msg.payload.attrs;\n\nmsg.data = payload_backup;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":420,"wires":[["29758b8.34f7174"]]},{"id":"5b2645de.b3a49c","type":"debug","z":"3c35f238.f4544e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":480,"wires":[]},{"id":"c2dfe754.3582f8","type":"comment","z":"3c35f238.f4544e","name":"Get logs","info":"","x":80,"y":640,"wires":[]},{"id":"b25cd341.7e66e","type":"http in","z":"3c35f238.f4544e","name":"","url":"/lora","method":"get","upload":false,"swaggerDoc":"","x":140,"y":700,"wires":[["69b2fbc1.b88e74"]]},{"id":"7239f808.62f1b8","type":"comment","z":"3c35f238.f4544e","name":"Check global variables","info":"","x":120,"y":1220,"wires":[]},{"id":"69b2fbc1.b88e74","type":"mongodb in","z":"3c35f238.f4544e","mongodb":"d145b4d7.163be8","name":"","collection":"lora","operation":"find","x":370,"y":700,"wires":[["446fdc27.1681d4","672f50ed.8e51f"]]},{"id":"446fdc27.1681d4","type":"debug","z":"3c35f238.f4544e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":740,"wires":[]},{"id":"672f50ed.8e51f","type":"http response","z":"3c35f238.f4544e","name":"","statusCode":"","headers":{},"x":610,"y":700,"wires":[]},{"id":"22b062c8.5a50ce","type":"http in","z":"3c35f238.f4544e","name":"","url":"/lora/:bw/:sf","method":"get","upload":false,"swaggerDoc":"","x":160,"y":800,"wires":[["960c45f8.0ee208"]]},{"id":"1fbdf30.fa2ee0d","type":"mongodb in","z":"3c35f238.f4544e","mongodb":"d145b4d7.163be8","name":"","collection":"lora","operation":"find","x":550,"y":800,"wires":[["4a1c6adf.c819e4","d688e725.8e6558"]]},{"id":"4a1c6adf.c819e4","type":"debug","z":"3c35f238.f4544e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":840,"wires":[]},{"id":"d688e725.8e6558","type":"http response","z":"3c35f238.f4544e","name":"","statusCode":"","headers":{},"x":790,"y":800,"wires":[]},{"id":"960c45f8.0ee208","type":"function","z":"3c35f238.f4544e","name":"","func":"msg.payload = {\n    \"bw\" : msg.req.params.bw,\n    \"sf\" : msg.req.params.sf\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":860,"wires":[["1fbdf30.fa2ee0d"]]},{"id":"77ebf60f.49c3d8","type":"switch","z":"3c35f238.f4544e","name":"Is Existed?","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":520,"wires":[["67442e12.d522b"],["88203cfa.492a1"]]},{"id":"67442e12.d522b","type":"function","z":"3c35f238.f4544e","name":"Create collection","func":"msg.payload = msg.data;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":500,"wires":[["5b2645de.b3a49c","2e052829.845138"]]},{"id":"88203cfa.492a1","type":"function","z":"3c35f238.f4544e","name":"Update collection","func":"var query = new Object();\nquery.bw = msg.data.bw;\nquery.sf = msg.data.sf;\nmsg.query = query;\n\nmsg.payload = msg.payload[0];\nmsg.payload.attr.push(msg.data.attr[0]);\n\ndelete msg.payload._id;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":560,"wires":[["5433de06.b6c7d","a74bcde3.6dff7"]]},{"id":"5433de06.b6c7d","type":"debug","z":"3c35f238.f4544e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":620,"wires":[]},{"id":"2e052829.845138","type":"mongodb out","z":"3c35f238.f4544e","mongodb":"d145b4d7.163be8","name":"","collection":"lora","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":950,"y":520,"wires":[]},{"id":"2f2ac60a.3ad52a","type":"comment","z":"3c35f238.f4544e","name":"Delete logs","info":"","x":80,"y":940,"wires":[]},{"id":"64350227.0599bc","type":"http in","z":"3c35f238.f4544e","name":"","url":"/lora/:bw/:sf","method":"delete","upload":false,"swaggerDoc":"","x":170,"y":980,"wires":[["8885dd5c.f3ab3"]]},{"id":"1c9cd4ac.55960b","type":"http response","z":"3c35f238.f4544e","name":"","statusCode":"","headers":{},"x":610,"y":1020,"wires":[]},{"id":"42694339.79b82c","type":"mongodb out","z":"3c35f238.f4544e","mongodb":"d145b4d7.163be8","name":"","collection":"lora","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":550,"y":980,"wires":[]},{"id":"8885dd5c.f3ab3","type":"function","z":"3c35f238.f4544e","name":"","func":"msg.payload = {\n    \"bw\" : msg.req.params.bw,\n    \"sf\" : msg.req.params.sf\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1040,"wires":[["42694339.79b82c","1c9cd4ac.55960b","8f0014bb.dcb648"]]},{"id":"8f0014bb.dcb648","type":"debug","z":"3c35f238.f4544e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":1060,"wires":[]},{"id":"a74bcde3.6dff7","type":"mongodb out","z":"3c35f238.f4544e","mongodb":"d145b4d7.163be8","name":"","collection":"lora","payonly":false,"upsert":false,"multi":false,"operation":"update","x":950,"y":580,"wires":[]},{"id":"469dd730.ce5938","type":"http in","z":"3c35f238.f4544e","name":"","url":"/lora","method":"delete","upload":false,"swaggerDoc":"","x":150,"y":1100,"wires":[["7dd1413.c25ddc","54b6133b.e43bfc","e7b00edd.deac1"]]},{"id":"54b6133b.e43bfc","type":"http response","z":"3c35f238.f4544e","name":"","statusCode":"","headers":{},"x":610,"y":1140,"wires":[]},{"id":"7dd1413.c25ddc","type":"mongodb out","z":"3c35f238.f4544e","mongodb":"d145b4d7.163be8","name":"","collection":"lora","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":550,"y":1100,"wires":[]},{"id":"e7b00edd.deac1","type":"debug","z":"3c35f238.f4544e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":1180,"wires":[]},{"id":"d145b4d7.163be8","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"lora","name":""}]